@font-face {
  font-family: myfont;
  src: url(Lato-Regular.ttf);
}

html {
  overflow-x: hidden;
  margin: auto;
  width: 100%;
}

body {
  margin: 0;
  font-family: myfont;
  width: 100%;
}

.navbar {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 25px;
  /* border: 1px solid red; */
}

.dropdown{
position: relative;
display: inline-block;
}
.dropdown-content{
  transform: translateX(-77%);
  display: none;
  border: 1px solid black;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content>ul>a{
  color:black ;
  padding: 12px 5px;
  border-bottom: 1px solid black;
  text-decoration: none;
  display: block;
}

.show{
  display: block;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 87.5vh;
  /* border: 1px solid blue; */
}

.intro {
  margin: 0;
}

.about {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about>img{
  width: 200px;
  height:200px;
  border-radius: 60%;
  object-fit: cover;
}

.about > p {
  line-height: 1.8;
  text-align: center;
}

.proclamations {
  background: rgba(227, 220, 220, 0.544);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;

  padding: 3rem;

}

.proclamations > h1 {
  margin: 0;
}

.proclamations_items>span{
  text-align: center;
}

.proclamations_items {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
  /* border: 1px solid red; */
  width: 100%;
}
.proclamations_items > span {
  display: flex;
  /* border: 1px solid green; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.work {
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 4rem;
  /* border: 1px solid; */
}

.container > span {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
}

.container > span > p {
  text-align: center;
  font-size: 16px;
}

.container>span>span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  
  width: 100%;
}



.circle {
  border-radius: 50%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: rgb(219 146 219);
}

Footer {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 14px;
  /* border: 1px solid red; */
}
